body {
  background-color: #7894A0;
  font-family: monospace;
}
.whole-page {
  margin: 15px;
  background color: black;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding:5px;
}
  h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  hyphens: auto;
  text-align: justify;
  }
  h2 {
  color: #17465E;
  padding: 5px;
  border: 2px solid #ffffff;
  box-shadow: 5px 10px #F0BFCA;
  font-weight:bolder;

  }
.hobby {
  color: #17465E;
  background-color: #AFB9D1;
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
}
li {
  padding: 5px;
  font-size: 20px;
}


  img.size {
    border-radius: 15px;
    width: 100%;
  }
  img.gif {
    
    height:360px;
    frameBorder: 0;
    border-radius: 15px;
  }
